@import "../../common/style";

.wrapper {
  margin: 10px 0;
  display: flex;
  animation: show-comments .7s ease-out;

  &:last-child {
    margin-bottom: 0;
  }

  .comment {
    flex: 1;
    width: 100px;
  }

  .avatar {
    height: 30px;
    width: 30px;
    margin-right: 7px;
  }
  .nick {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
  }

  .text {
    overflow-wrap: break-word;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .time {
    color: $second-color;
  }

  .replies {
    color: #0575ff;
    cursor: pointer;
  }
}

@keyframes show-comments {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
